.logoHeading{
	font-size: x-large;
	color: white;
	font-family: cursive;
	padding-left: 10px;
	margin-top: 35px;
	margin-left: 125px;
	height: 40px;
	width: 188px;
	background-color: teal;
	-webkit-transition: width 0.5s, height 0.5s, font-size 0.5s, padding 0.5s, transform 0.5s;
	transition: width 0.5s, height 0.5s, font-size 0.5s, padding 0.5s, transform 0.5s;
	transition-timing-function: ease-out;
	border-radius: 10px;
}

.logoHeading:hover{
	font-size: xx-large;
	width: 240px;
	height: 50px;
	padding: 5px;
}

html{
	background-color: lightgreen;
	background-image: url("images/logo.png"), url("images/background2.jpg");
	background-position: 15px 15px, left top;
	background-repeat: no-repeat, no-repeat;
	background-size: 100px, cover;
}

body{
	font-family: sans-serif;
}

ul{
	list-style-type: none;
	margin-left: 125px;
	margin-right: 125px;
	margin-top: 50px;
	height: 20px;
	padding: 10px;
	overflow: hidden;
	background: rgb(3, 3, 3, 0.5);
	border-radius: 10px;
}

li{
	float: left;
}

li a{
	display: inline;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	margin: 20px;
	transition: margin 1s;
}

li:last-child{
	float: right;
}

li a:hover{
	background: rgb(5, 5, 5, 0.5);
	color: white;
	margin: 40px;
}

.active{
	background-color: green;
}

.footer{
	font-family: sans-serif;
	color: white;
	background-color: teal;
	padding: 10px;
	text-align: center;
	position: bottom center;
	opacity: 0.5;
	border-radius: 4px;
	margin-top: 50%;
	margin-bottom: 5%;
}

.footer:hover{
	opacity: 1;
}

#mainbody{
	height: 600px;
	weight: 100px;
	border-radius: 10px;
	margin-left: 125px;
	margin-right: 125px;
	background: rgb(9, 9, 9, 0.5);
}

#box1{
	background: rgb(255, 255, 255);
	border-radius: 10px;
	margin: 100px;
	padding: 25px;
	font-size: x-large;
}

#travellersnum{
	visibility: visible;
	margin-left: 80px;
	border-radius: 10px;
	font-size: x-large;
}

#source1{
	visibility: visible;
	margin-left: auto;
	border-radius: 10px;
	font-size: 14px;
}

#source2{
	visibility: visible;
	margin-left: auto;
	border-radius: 10px;
	font-size: 14px;
}

#source3{
	visibility: visible;
	margin-left: auto;
	border-radius: 10px;
	font-size: 14px;
}

#source4{
	visibility: visible;
	margin-left: auto;
	border-radius: 10px;
	font-size: 14px;
}

.dropdown{
	position: relative;
	display: inline-block;
}

.dropButton{
	background-color: #4CAF50;
	color: white;
	padding: 16px;
	font-size: 16px;
	cursor: pointer;
	border-radius: 10px;
}

.dropButtonSources{
	background: rgb(9, 9, 9, 0.5);
	background-color: #4CAF50;
	color: white;
	font-size: 14px;
	cursor: pointer;
	border-radius: 8px;
	height: 30px;
	weight: 60px;
	border-radius: 10px;
	margin-left: 100px;
	margin-right: 125px;
}

.dropdown-content{
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	/*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
	padding: 12px 16px;
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;

}

.dropdown-content a:hover {
	background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content{
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
