.logoHeading{
	font-size: x-large;
	color: white;
	font-family: cursive;
	padding-left: 10px;
	margin-top: 50px;
	margin-left: 170px;
	height: 40px;
	width: 180px;
	background-color: #0074D9;
	-webkit-transition: width 0.5s, height 0.5s, font-size 0.5s;
	transition: width 0.5s, height 0.5s, font-size 0.5s;
	transition-timing-function: ease-out;
	border-radius: 10px;
}

.logoHeading:hover{
	width: 250px;
	height: 50px;
	font-size: 2em;
}

.slogan{
	color: white;
	font-family: sans-serif;
	padding: 2px;
	margin-left: 115px;
	margin-top: 15px;
	height: 15px;
	width: 145px;
	background-color: #FF851B;
	border-radius: 3px;
}

html{
	background-color: black;
	background-image: url("images/logo.png"), url("images/background2.jpg");
	background-position: 15px 15px, left top;
	background-repeat: no-repeat, no-repeat;
	background-size: 150px, cover;
}

body{
	font-family: sans-serif;
}

ul{
	list-style-type: none;
	margin-left: 125px;
	margin-right: 125px;
	margin-top: 50px;
	height: 20px;
	padding: 10px;
	overflow: hidden;
	background: rgb(3, 3, 3, 0.5);
	border-radius: 10px;
}

li{
	float: left;
}

li a{
	display: inline;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	margin: 20px;
	transition: margin 1s;
}

li:last-child{
	float: right;
}

li a:hover{
	background: rgb(5, 5, 5, 0.5);
	color: white;
	margin: 40px;
}

.active{
	background-color: green;
}

.footer{
	font-family: sans-serif;
	color: white;
	background-color: teal;
	padding: 10px;
	text-align: center;
	position: bottom center;
	opacity: 0.5;
	border-radius: 4px;
	margin-top: 50%;
	margin-bottom: 5%;
}

.footer:hover{
	opacity: 1;
}

#mainbody{
	border-radius: 10px;
	margin-left: 125px;
	margin-right: 125px;
	background: rgb(9, 9, 9, 0.4);
	min-height: 800px;

}

#box1{
	background: rgb(9, 9, 9, 0.5);
	border-radius: 10px;
	margin-top: 50px;
	margin-left: 150px;
	margin-right: 150px;
	margin-bottom: 0px;
	/*padding-left: 100px;*/
}

#num-tourists{
	background-color: green;
	color: white;
	padding: 16px;
	font-size: 16px;
	border-radius: 10px;
	border: none;
	font-size: xx-large;
	opacity: 0.8;
	margin-left: 100px;
}

#travellersnum{
	visibility: visible;
	margin-top: 40px;
	margin-bottom: 40px;
	border-radius: 10px;
	font-size: xx-large;
	padding: 8px;
	width: 50px;
	text-align: center;
	border: none;
}

#minus-button{
	font-family: sans-serif;
	font-size: x-large;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	transition: font-size 0.1s;
	margin-left: 100px;
	height: 40px;
	width: 40px;
	font-weight: bold;
}

#minus-button:hover{
	font-size: xx-large;
	background-color: #0074D9;
}

#plus-button{
	font-family: sans-serif;
	font-size: x-large;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	transition: font-size 0.1s;
	margin: auto;
	height: 40px;
	width: 40px;
	font-weight: bold;
}

#plus-button:hover{
	font-size: xx-large;
	background-color: #0074D9;
}

#boxes{
	padding: 25px;
	margin: 100px;
	background: rgb(9, 9, 9, 0.5);
	border-radius: 10px;
}

.source-field{
	visibility: visible;
	margin-left: auto;
	border-radius: 10px;
	font-size: x-large;
	border: none;
	text-align: center;
}

.dropdown{
	position: center;
	display: inline-block;
}

.dropButtonSources{
	background: rgb(9, 9, 9, 0.5);
	background-color: #FF4136;
	color: white;
	cursor: pointer;
	height: 60px;
	width: 180px;
	border-radius: 10px;
	margin-left: 150px;
	margin-right: 125px;
	border: none;
	font-size: x-large;
}

.dropdown-content{
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	/*min-width: 160px;*/
	/*padding: 12px 16px;*/
	margin-left: 170px;
	z-index: 1;
	border-radius: 10px;
	font-size: large;
}

.source-anchors{
	cursor: pointer;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	border-radius: 10px;
	margin: 5px;
}

.dropdown-content a:hover {
	background-color: #0074D9;
}

.dropdown:hover .dropdown-content{
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
